*.pyc
*.pyo
*.o
*.so
*.os
*.pyd
*.elc
*~
.*.swp
.*.swo
.*.swn
.~
.DS_Store
.ropeproject
ID
/elpa/
/auto-save-list/*
/history
/emacs-places
/exec-abbrev-cmd.el
/loaddefs.el
/eshell/history
/eshell/lastdir
/*-old/
/nrepl-history
/tramp
/*.dat
[#]*[#]
.[#]*
/projectile-bookmarks.eld
/session.*
/ido.last
/recentf
/server/
/.persistent-scratch
/.cache/
/.lsp-session-v1
/eclipse.jdt.ls/
/meghanada/
/places
/workspace/
/elpy/
/custom.el
/straight/build-cache.el
/straight/build/
/straight/repos/
/anaconda-mode/
